
@media only screen and (max-width: 800px){

  h2{font-size: 200%;}

  .calculator{
    border: 2px solid #fff;
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 100px;
    padding: 6px;
    padding-top: 4px;
    border-radius: 3%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fff;
    text-align: center;
  }

  .btn{
    padding: 5px;
    font-size: 80%;
    margin-left: 60px;
    text-align: center;
  }

  .btn-keys{padding: 15px;}

  .value{
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #141313;
    border-radius: 5%;
    padding:30px 10px;
    font-size: 100%;
    background-color: #141313;
    color:#FCFCFC;
  }
}
